<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <div>
                        <h1>{{ site.title }}</h1>
                        <h2 class="is-hidden-mobile">{{ site.subtitle }}</h2>
                    </div>
                </div>
                <div class="level-right">
                    <img src="/images/logo-square-small.png" class="is-hidden-mobile">
                </div>
            </div>
        </div>
    </div>
</section>