<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <span class="is-hidden-mobile">{{ site.title[site.active_lang] }}</span>
                    <span class="is-hidden-tablet">{{ site.title_mobile[site.active_lang] }}</span>
                </div>
                <div class="level-right">
                    <img src="{{ site.baseurl }}/images/logo-square-small.png" class="is-hidden-mobile">
                </div>
            </div>
        </div>
    </div>
</section>