/* Base CSS Styles for pages in the RISM catalogue theme
  At this point in the import all variables should be available.
*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex-grow: 3;

  #wrapper {
      flex: 1;
  }
}

a.disabled {
  color: $grey;
  pointer-events: none;
  cursor: default;
}

.content {
  h1 {
    font-size: 24px;
    padding-bottom: 4px;
    border-bottom: 1px solid lighten($content-heading-color, 20%);
  }
  h2 {
    font-size: 21px;
    padding-bottom: 3px;
    border-bottom: 1px solid lighten($content-heading-color, 50%);
  }
  h3 {
    font-size: 19px
  }
  h4 {
    font-size: 17px
  }
}

.side-content {
  h1 {
    font-size: 19px;
    text-transform: uppercase;
    padding-bottom: 2px;
    border-bottom: 1px solid lighten($content-heading-color, 20%);
    margin-bottom: 12px;
  }
  p {
    margin-bottom: 12px;
  }
}

div.float-left {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}
div.float-right {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px;
}

////////////////////////////////////////////////////
// navbar and hero 

.hero {
  height: $rism-simple-hero-height;
  .hero-body {
    padding: 10px 1.5rem;
    height: $rism-simple-hero-height;
    span {
      font-size: 24px;
      font-weight: 700;
    }
  }
  border-bottom: 1px solid lightgray;
}

.navbar {
  border-bottom: 1px solid $content-heading-color;
  .navbar-link::after {
    background-color: white;
  }
  .navbar-dropdown {
    background-color: $primary;
  }
}