{% assign search_title = site.data.locales | where: "id", "search-title" | first %}
{% assign search_input = site.data.locales | where: "id", "search-input" | first %}
{% assign search_facet1 = site.data.locales | where: "id", "search-facet1" | first %}

<h1>{{ search_title.name[site.active_lang] }}</h1>
<div id="website-search-form">
    {% assign action = "search.html"  %}
    <form id="search-form" action="{{ action }}">
        <div class="field">
            <div class="control">
                <input id="website-search" class="input is-small" type="text" name="q" placeholder="{{ search_input.name[site.active_lang] }} ... ">
            </div>
        </div>

        <button type="submit" class="button is-small is-dark">
            <span class="icon is-small">
                <i class="fas fa-search"></i>
            </span>
        </button>

        <h2 class="mt-3">{{ search_facet1.name[site.active_lang] }}</h2>

        <div id="facet1" class="mt-2 scroll-facet"></div>

    </form>
</div>